@import "tailwindcss";

html {
  scrollbar-width: normal;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

body {
  font-family: var(--font-poppins), sans-serif;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Light Mode */
:root {
  --bg-color: #f5f7fa; /* Ljus bakgrund */
  --text-color: #1a1a1a; /* Nästan svart text */
  --primary-color: #005f73; /* Djup teal */
  --secondary-color: #94d2bd; /* Ljusgrön/blå */
  --border-color: #0a9396; /* Turkosgrön kant */
  --hover-color: #001f54; /* Mörk blå för hover */
  --skills-bg: #e9d8a6; /* Sandgul */
  --card-border: #0a9396; /* Samma som border-color */
  --card-bg: #94d2bd; /* Pastellgrön/blå */
}

/* Dark Mode */
.dark {
  --bg-color: #0d1b2a; /* Mörk marinblå */
  --text-color: #e0e1dd; /* Ljusgrå text */
  --primary-color: #1b263b; /* Djup marinblå */
  --secondary-color: #778da9; /* Stålblå */
  --border-color: #e9d8a6; /* Sandgul */
  --hover-color: #415a77; /* Dämpad blå */
  --skills-bg: #1b263b; /* Samma som primary */
  --scroll: linear-gradient(
    180deg,
    rgba(10, 147, 150, 1) 0%,
    rgba(148, 210, 189, 1) 82%
  );
  --card-border: #94d2bd; /* Pastellgrön/blå */
  --card-bg: #1b263b; /* Djup marinblå */
}

.bg-gradient-right {
  background: linear-gradient(to right, var(--bg-color), transparent);
}
.bg-gradient-left {
  background: linear-gradient(to left, var(--bg-color), transparent);
}

.dark ::-webkit-scrollbar-thumb {
  background: var(--scroll);
}

.card-bg {
  background-color: var(--card-bg);
}

.secondary-color {
  color: var(--secondary-color);
}

.skills-border {
  border-color: var(--border-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--bebas-neue), sans-serif;
}

.about-text {
  font-family: var(--font-roboto), sans-serif;
}

a,
button {
  cursor: pointer;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes floating {
  0% {
    transform: translateY(-200px) rotate(0deg);
  }
  30% {
    transform: translateY(0px) rotate(15deg);
  }
  50% {
    transform: translateY(50px) rotate(-10deg);
  }
  70% {
    transform: translateY(0px) rotate(5deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.float {
  animation: floating 5s ease-in-out forwards;
  transform-style: preserve-3d;
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

@keyframes marquee-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.animate-marquee-left {
  animation: marquee-left 30s linear infinite;
}

.animate-marquee-right {
  animation: marquee-right 30s linear infinite;
}

/* SKILLS */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-container1,
.scroll-container2 {
  display: flex;
  width: max-content;
  animation: scroll 110s linear infinite;
}

.scroll-container2 {
  animation-direction: reverse;
}

.hover-pause:hover .scroll-container1,
.hover-pause:hover .scroll-container2 {
  animation-play-state: paused;
}
